/* common */
.total-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;

    min-width: 320px;
    /* min-width: 340px; */
    max-width: 1024px;
}

section {
    width: 100%;
}

.container {
    width: 100%;
    margin: 24px 0;

    color: #fff;
}

/* rankSelect */

.boxStyle {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: rgba(78, 197, 61, 0.8);

    margin: 18px 2%;
}

.rankSelect .head {
    display: flex;
    margin: 0 0 36px;

    font-size: 24px;
    font-weight: bold;

    justify-content: center;
    align-items: center;
}

.rankSelect .head .title {
    width: 144px;
    height: 44px;

    display: flex;

    justify-content: space-around;
    align-items: center;

    color: #fff;
}

.rankSelect #rankers {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5%;
}

.rankSelect #rankers .item {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px 0;

    width: 100px;
}
.item .rankerMedal {
    font-size: 32px;
}
.item .rankerProfile{
    display: inline-block;

    margin: 12px 0 0;

    width: 55px;
    height: 55px;
    border-radius: 50%;
    
    background-color: #fff;
}

.item .rankerName {
    box-sizing: border-box;

    padding: 12px 0 0;

    color: #fff;
    font-size: 15px;
}

.ranker-img {
    width: 100%;
    height: 150px;
    background: url(../svg/rank.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.rankSelect #rankingAll {
    background-color: rgba(217, 217, 217, 0.85);
}
.rankingList {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    padding: 0 0 24px;

    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}
.rankingList .item {
    display: grid;

    grid-template-columns: auto auto auto;

    column-gap: 1.5%;

    justify-items: center;

    padding: 6px 2%;
}
.rankingList .column{
    z-index: 2;

    padding: 24px 0 12px;

    background-color: rgba(217, 217, 217, 0.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);

    font-size: 15px;
    font-weight: bold;
}
.rankingList .row{
    z-index: 1;

    border : 0.5px solid rgba(0, 0, 0, 0.1);

    padding: 12px 0 3px;
}

.rankingList .item div{
    display: flex;

    justify-content: center;
}
.rankingList .item span{
    display: flex;

    justify-content: center;

    width: 80px;
}
.rankingList .item .userName span{
    width: 120px;
}

/* Tablet*/
@media screen and (max-width: 768px) {
   
}

/* Phone */
@media screen and (max-width: 425px) {
    
    
}